## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe

## Azure Functions
local.settings.json
appsettings.Development.json

## IDE
.vs/
.vscode/
*.code-workspace

## OS
Thumbs.db
Desktop.ini
.DS_Store

## NuGet
*.nupkg
packages/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
